* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.dashboard {
  display: grid;
  grid-template-columns: 4fr 8fr;
  grid-template-rows: 1fr 4fr;
  gap: 1rem;
}

.dashboard > * {
    padding: 2rem;
}

/* Sidebar */

.container.sidebar {
  padding-left: 1rem;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 1;
  background: #40a2fff7;
  color: white;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.sidebar-menu > ul,
.settings-and-help > ul {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 0.65em;
}

.header {
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 3fr 2fr;
  grid-template-areas: 
  'search-bar header-menu'
  'user-greeting actions'
  ;
}

.header-menu {
  height: 35px;
}

ul.header-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-search-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.main {
  display: grid;
  grid-area: 2 / 2;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
