* {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
}

h4 {
  font-weight: 400;
}

h5 {
  margin-bottom: 0.188rem;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.dashboard {
  display: grid;
  grid-template-columns: 4fr 8fr;
}

.dashboard > * {
  padding: 0 2rem;
}

.container.sidebar,
.main {
  outline: 1px solid red;
}

/* Sidebar */

.container.sidebar {
  padding-left: 1rem;
  padding-top: 3rem;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 1;
  background: #40a2fff7;
  color: white;
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.sidebar-menu > ul,
.settings-and-help > ul {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

/* Header */

.header {
  display: grid;
  grid-area: 1 / 2 / 2 / 3;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 3fr 2fr;
  grid-template-areas:
    "search-bar header-menu-wrapper"
    "user-greeting actions";
}

.header-menu {
  height: 35px;
}

ul.header-menu {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header-search-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actions {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* MAIN */
.main {
  background: #e2e8f0;
  padding-top: 2rem;
}

.main-left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, minmax(13.188rem, 1fr));
  gap: 1rem;
}

.articles-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;
}

.announcements,
.trending,
.project-container {
  background: white;
}

/* YOUR PROJECTS*/

.project-container {
  border-left: 9px solid gold;
  border-radius: 5px;
  padding: 1rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.socials {
  margin-left: auto;
}

.socials span {
  margin: 0 1rem;
}

/* ANNOUNCEMENTS & TRENDING */
.main-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.announcements {
  border-radius: 5px;
}

.announcement-card {
  border-bottom: 1px solid grey;
  width: 82%;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 0.688rem;
  margin-bottom: 1rem;
}
